
/*
html{
}
*/
body{
    background-color: $negro;
}

.contenedor-estetica{

    display: grid; //los hijos tomaran la altura del padre
     
    @include tablet{
        height: 100vh; //view port hight, toda la ventana grafica
        @include grid(2,$separacion/3);
    }

    .imagen{
        height: 30rem;
        background-image: url(/build/img/1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center ;
        @include tablet{
            height: auto;
        }
    }
    


}

.app{
    width: 95%;
    margin: 0 auto;
    padding-top: $separacion / 2;

    .seccion{
        margin-top: $separacion / 2;
        display: none;
    }

}

.mostrar-seccion{
    display: block!important ;
}